
<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}"  {{ form_enctype(form) }} method="POST" class="box login">
                         <fieldset class="boxBody">
                        <h2>Revouveler votre mot de passe</h2>
                        
                        {% if form_errors(form)  %}
                        <div class="validation-advice"> {{form_errors(form)}} </div> 
                        {% endif %}        
   
                         {% if(form_errors(form.plainPassword.first)) %}
                            <div class="error-input">{{ form_errors(form.plainPassword.first) }}</div>
                        {% endif %} 
                            
                         <label for="first">Nouveau mot de passe:</label>	
		         {{ form_widget(form.plainPassword.first)}}

                         <label for="second">Confirmer mot de passe:</label>	
			 {{ form_widget(form.plainPassword.second)}}

                        {{ form_rest(form) }}
                        </fieldset>
                        <footer>
                          <input type="submit" tabindex="4" name="_submit" value="Modifier" class="btnLogin">
                        
                        </footer>
    </form>
