<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}"  {{ form_enctype(form) }} method="POST" class="box login">
    <fieldset>
        <legend class="colorlegend"><strong>New Password</strong></legend>
        <h6 class="style_h">Please enter a new Password:</h6> 
        {% if form_errors(form)  %}
            <div class="alert alert-error text-center"> {{form_errors(form)}} </div> 
        {% endif %}        
	
        {#--New Password---#}
        <div class="input-prepend">
            <span class="add-on"><i class="icon-lock"></i></span>
            {{ form_widget(form.plainPassword.first,{'attr': {'class': 'span3','placeholder': 'New Password'}})}}
        </div>
            
        {#--New Password Confirm---#}
        <div class="input-prepend">
            <span class="add-on"><i class="icon-lock"></i></span> 
            {{ form_widget(form.plainPassword.second,{'attr': {'class': 'span3','placeholder': 'New Password Confirmation'}})}}
        </div>
            
        {% if(form_errors(form.plainPassword.first)) %}
            <div class="error-input">{{ form_errors(form.plainPassword.first) }}</div>
        {% endif %} 

        {{ form_rest(form) }}
        <input type="submit" value="Edit Password" name="_submit" class="btn btn-primary pull-right">
    </fieldset>
   
</form>
