

<form action="{{ path('fos_user_change_password') }}" method="post" class="box login">
                            <fieldset class="boxBody">
                         <h2>Changer votre mot de passe</h2>
                        {% if form_errors(form)  %}
                        <div class="validation"> {{form_errors(form)}} </div> 
                        {% endif %}
                        
                    
                        <label for="current">Mot de passe courante:</label>
			{{ form_widget(form.current) }}

                         <label for="first">Nouveau mot de passe:</label>
		         {{ form_widget(form.new.first) }}
                         
                         {% if form_errors(form.new)  %}
                           <div class="validation"> {{form_errors(form.new)}} </div> 
                         {% endif %}

                         <label for="second">Confirmer mot de passe:</label>	
			 {{ form_widget(form.new.second) }}

                        {{ form_rest(form) }}
                        </fieldset>
                        <footer>                       
                            <input style="width: 157px;" type="submit" tabindex="4" name="_submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" class="btnLogin">
                        </footer>
    </form>